.background{
   -fx-background-image: url('BACKGROUND.jfif');
   -fx-background-size:cover;
}
.background_registration{
    -fx-background-color:#173342;
}
.dashboard_button{
    -fx-background-color:#173042;
}
.dashboard_button:hover{
    -fx-background-color:#236577;
    -fx-cursor: hand;
}
